<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1><%= __('accueilTitre') %></h1>
	    	<h2><%= __('accueilCours') %></h2>
	    	<h3><%= __('accueilRemise') %></h3>
	    	<p><%= __('accueilProjet') %></p>
    	</section>
    </main>
</div>	

