<h2>Liste des membres</h2>
<section id="enregistrement">
 <input type="text">
 <button onclick="enregistrement()">Enregistrement</button>
</section>

<section id="listeMembres">
</section>

<h1>Chat discussion</h1>
<section id="discussionConteneur">
</section>

<section id="clavardage">
 <textarea rows="4" cols="50"></textarea>
 <button onclick="envoyerMessage()">Envoyer</button>
</section>
<script type="text/javascript">

/* 
Pour établir une communication socket il faut un premier appel de
 la fonction io()
 Cette fonction est incluse dans la librairie socket.io. 
 Cette fonction déclenche un événement connect vers le serveur
 */
 window.onload = ()=>{
 socket = io()
 //console.log(socket.id);
 socket.on('connect', function(){
 //console.log('Le socket id = ' + socket.id); 
 /* l'événement ackUser a été transmis par le serveur */ 

 let couleurChoisie;

 socket.on('ackUser', function(data){

 	//console.log('data en provenance du serveur = ' + data)

 	//console.log(data);

 	document.getElementById("listeMembres").innerHTML='';

 	for (membre in data){

 		var nouvelUtilisateur = document.createElement("div");
 		nouvelUtilisateur.innerHTML = data[membre];
 		//console.log(data[membre]);
 		document.getElementById("listeMembres").appendChild(nouvelUtilisateur);

 	}

 	document.querySelector("#enregistrement").style.display = "none";
 	document.querySelector("#clavardage").style.display = "flex";
 })

   socket.on('broadcast', function(data, couleurChat){
 	//console.log('data en provenance du serveur = ' + data)
 	//console.log(data);
 	var nouveauMessage = document.createElement("div");
 	nouveauMessage.style.backgroundColor = couleurChat;
 	nouveauMessage.innerHTML = data;
 	document.getElementById("discussionConteneur").appendChild(nouveauMessage);

 })


 });
 }
/* ---------------------------------------------------------- */
 function enregistrement(){
 var elmUser = document.querySelector('#enregistrement input')
 //console.log(elmUser.value)
 /* l'événement « setUser » est transmit avec un objet 
 */
 socket.emit('setUser', {user : elmUser.value, id: socket.id})
 }

 function envoyerMessage(){
 var elmMessage = document.querySelector('#clavardage textarea')
 //console.log(elmMessage.value)
 /* l'événement « setUser » est transmit avec un objet 
 */
 socket.emit('envoyerMessage', {message : elmMessage.value, id: socket.id})
 elmMessage.value = '';
 }


</script>