<%- include('composants/socket_head') %> 
<body>
 <%- include('composants/entete') %>
 <main>
 <%- include('composants/socket_body') %>
 </main>
 <%- include('composants/footer') %>
</body>
<script type="text/javascript">
</script>
</html>